/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="col"] {
  color: white;
  min-height: 70px;
  /* debug */
  /* border: 1px solid black; */
}

.green-background {
  background-color: rgb(2 149 136);
  height: 17vh;
}

.general-container {
  background-color: rgb(220 219 210);
  height: 83vh;
}

.main-container {
  width: 90%;
  margin-top: -100px;
}

.white {
  background-color: white;
}

.fas {
  width: 50px;
  color: rgb(177 177 177);
  margin: -10px;
  cursor: pointer;
}

.far {
  width: 50px;
  color: rgb(177 177 177);
  margin: -10px;
  cursor: pointer;
}

.under-text {
  color: rgb(114 123 125);
  font-size: 15px;
  display: inline-block;
}

/* HEADER */

.header-color {
  background-color: rgb(234 234 234);
}

.header-content {
  height: 80px;
}

.profile-pic {
  color: black;
  display: inline-block;
}

.pfp {
  width: 60px;
  border-radius: 50%;
  margin: 10px 0;
}

.icons-profile {
  display: inline-block;
  font-size: x-large;
  margin-top: 20px;
}

/* MAIN */

.main-content {
  height: 81vh;
}

main {
  background-image: url(../img/pattern.jpg);
}

.chatboard {
  height: calc(100% - 70px);
}

#my-contact-list {
  color: black;
  list-style-type: none;
  margin: 10px 0;
}

.myapp ul {
  padding-left: 0;
}

#my-contact-list:hover {
  background-color: rgb(233 235 235);
}

/* messaggi */

#my-contact {
  color: black;
  width: 40%;
}

.sent {
  color: black;
  height: 50px;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
  background-color: rgb(183 214 160);
}

.received {
  color: black;
  height: 50px;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
  background-color: white;
}

.myapp li {
  border: 1px solid rgb(234 234 234);
  width: 100%;
  cursor: pointer;
}

.myapp ul {
  padding-left: 0rem;
  width: 100%;
  overflow: scroll;
}

.myapp ul::-webkit-scrollbar {
  display: none;
}

.notifications {
  background-color: rgb(142 218 252);
  min-height: 60px;
  text-align: center;
  color: black;
}

.notifications span {
  width: 74%;
  margin-top: 10px;
}

.notifications a {
  width: 55%;
  margin-left: 61px;
  padding-bottom: 5px;
  color: gray;
}

.search-barr {
  margin-right: 20px;
}

.search-barr input {
  margin-top: 5px;
  width: 88%;
}

.fa-search {
  margin-top: 10px;
}

.bell {
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 50px;
  margin-left: 10px;
  margin-top: 13px;
  padding-top: 9px;
  padding-right: 41px;
  display: inline-block;
}
/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
}

.footer-col {
  background-color: rgb(243 238 234);
  position: absolute;
  bottom: 0;
  width: 60%;
  margin-bottom: 39px;
}

.footer-element {
  margin-top: 25px;
  font-size: 25px;
}

.chat-barr {
  width: 95%;
  height: 50px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}

main {
  overflow: scroll;
}

main::-webkit-scrollbar {
  display: none;
}

::placeholder {
  padding-left: 10px;
}

.time-message {
  font-size: 12px;
  color: gray;
  text-align: end;
}
